@import "./Helpers/general";
@import "./Layout/header";
@import "./Layout/footer";

section{
    padding-top: calc(#{$padding} / 2);
    padding-bottom: calc(#{$padding} / 2);
    .container{
        .row{
            div{
                a{
                    img{
                        height: 320px;
                        width: 240px;
                    }
                    h4{
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}